@{
    ViewBag.Title = "sobre";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <h3>Me-procure</h3>

    

    <p>Esse e um projeto da diciplina de Topicos3 no cursos de sistema de informação da Unitins</p>
</main>